$white: #fff;

$black: #000;

$lightGray: #f6f7f8;

$commonText: #555;

$pink: #ED84E5;

$color_1: #B02295;

$color_1_1: #E52DC3;

$color_2: #D90000;

$color_3: #FF2D00;

$color_4: #FF8C00;

$color_5: #04756F;

$color_5_1: #06B8AE;